<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Appendix D</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"> </script>
  </head>
  <body>
    <style media="screen">
      h1 {
        text-align: center;
        padding: 45px;
      }

      h2 {
        text-align: center;
        padding: 5px;
      }

      h3 {
        text-align: center;
        padding: 5px;

      }

      .logo {
        margin: 25px auto;
        width: 60%;
        height: 100px;
        border: 1px solid black;
      }
      .center {
        text-align: center;
        padding: 6px;
      }

      .title {
          margin: 25px auto;
          text-align: center;
          font-size: 25px;
      }
      .hr-block {
        border-bottom: 1px solid black;
      }
    </style>

    <div class="container">

      <div class='row'>
        <div class="col-sm-4">
           <div class='logo'>
             <div class="title">Logo</div>
           </div>
        </div>
        <div class="col-sm-8">
            <h1>Marketing Material Cost Report</h1>
        </div>
      </div>

      <br>

      <% @new_hash.each_with_index do |(key, value), index| %>
        <div class='row'>
          <div class="col-4 hr-block">
            <h2><%= key %></h2>
          </div>
          <div class="col-5 hr-block"></div>

          <div class="col-3 hr-block">
            <h3><%= @total_cost[index] %></h3>
          </div>



          <div class="w-100 d-none d-md-block"></div>


          <% value.each do |data| %>
            <div class="col-3">
            </div>

            <div class="col-6">
              <div class="center"><%= data[0] %></div>
            </div>
            <div class="col-3">
              <div class="center"><%= data[1]%></div>
            </div>

          <% end %>

        </div>

        <br>
        <br>

        <canvas id="doughnut-chart" width="800" height="450"></canvas>
        <script>
          new Chart(document.getElementById("doughnut-chart"), {
              type: 'doughnut',
              data: {
                labels: <%= @labels[key]%>,
                datasets: [
                  {
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: <%= @data[key]%>
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                  text: 'Marketing Material Costs By Type'
                }
              }
          });
        </script>

        <br>
        <br>


      <% end %>



    </div>

  </body>
</html>
