<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Appendix E</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/office_installation.css">
  </head>
  <body>


    <div class="container">

      <div class='row'>
        <div class="col-sm-4">
           <div class='logo'>
             <div class="title">LOGO</div>
           </div>
        </div>
        <div class="col-sm-8">

            <h2><%= @office["title"].upcase %></h2>
            <h5><%= " #{@office["state"]},  #{@office["address"]}, #{@office["phone"]}, #{@office["type"]}"%></h5>
            <h5>Total Area</h5>
            <h5>Total Max People Count</h5>
        </div>
      </div>

      <br>
      <br>

      <h1>Installation Instructions</h1>

      <div class="row">
        <% @response_hash.each do |key, value| %>

            <!-- zone 1 line -->

            <div class="col">
              <h3><%= key %></h3>
            </div>

            <div class="w-100 d-none d-md-block"></div>

            <!-- room 1 line -->

            <% value.each do |k, v| %>
                <div class="col-1">
                </div>
                <div class="col-11">
                  <h3><%= k %></h3>
                </div>

                <div class="w-100 d-none d-md-block"></div>

                <% v.each do |data| %>
                    <!-- row line 1 -->
                    <div class="col-1">
                    </div>
                    <div class="col-3">
                      <div class="center"><%= data["marketing_material_name"] %></div>
                    </div>
                    <div class="col-3">
                      <div class="center"><%= data["marketing_material_type"] %></div>
                    </div>
                    <div class="col-3">
                      <div class="center"><%= data["fixture_name"]%></div>
                    </div>
                    <div class="col-2">
                      <div class="center"><%= data["fixture_type"]%></div>
                    </div>

                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>


</body>

</html>
